

<html>
<head>

<style>
a.small {
    line-height: 10px;
}

a.big {
    line-height: 30px;
}
</style>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<script src="https://maps.googleapis.com/maps/api/js"></script>
<style>
	th {text-align: center;}
</style>
</head>

<body align="center">
    <div class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">SXC3409-Project 1</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
    </ul>
    <p class="navbar-text pull-right">| <a id="Sss" href="<%= path_to_asset("CSE5335Project1-Spring2016.pdf") %>">See project Requirements</a></p>
    <p class="navbar-text pull-right">| <a href="home/ref">References</a></p>
 </div>
</div>

<a href="http://getbootstrap.com/">http://getbootstrap.com/</a><hr>
<a href="https://www.youtube.com/watch?v=quLmIuIrIig&ab_channel=BrittanyArthur">https://www.youtube.com/watch?v=quLmIuIrIig&ab_channel=BrittanyArthur</a><hr>
<a href="http://bundler.io/">http://bundler.io/</a><hr>
<a href="https://www.gfmag.com/global-data/non-economic-data/best-cities-to-live?page=13">https://www.gfmag.com/global-data/non-economic-data/best-cities-to-live?page=13</a><hr>
<a href="http://stackoverflow.com/questions/9879169/how-to-get-twitter-bootstrap-navigation-to-show-active-link">http://stackoverflow.com/questions/9879169/how-to-get-twitter-bootstrap-navigation-to-show-active-link</a><hr>
<a href="http://docs.railsbridge.org/message-board/make_it_pretty_with_bootstrap">http://docs.railsbridge.org/message-board/make_it_pretty_with_bootstrap</a><hr>
</body>
</html>